.container01 {
    // whatever we need about container 01 goes in here...

    
    // it can be removed ...
    color: blue;
    
    .container {
        background-color: aqua;
        height: 100%;
        p {
            margin: 0;
            padding-top: 1rem;
        }
        &:hover {
            background-color: transparent;
        }
    }

}
