@use "variables" as *;

// mixin for the 3 buttons
@mixin shop-button {
    background-color: $button-color;
    color: white;
    border: $button-color;
    border-radius: 6px;
    padding: 0.7rem 1rem;
    font-weight: 500;
}


.container03 {
    //margin: 0;
    //padding: 0;
    font-family: $fontFamily;
    padding: 1.5rem;
    text-align: center;
    // border: 2px solid red;
    // background-color: pink;
    // .yo {
    //     border: 2px solid blue;
    //     margin: 0;
    // }

    p {
        font-size: 40px;
        font-weight: 300;
        text-align: left;
    }

    h3 {
        font-size: 20px;
        font-weight: 300;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .sub-container02 {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    button {
        @include shop-button();
    }
    button::before {
        content: "SHOP NOW";
    }

    img {
        width: 50%;
    }

    .title-larger-screen {
        display: none;
    }
}


@media screen and (min-width: 500px) {
    .container03 {
        button {
            margin-right: 1.5rem;
        }
        img {
            margin-left: 1.5rem;
        }
    }
}


@media screen and (min-width: 640px) {
    .container03 {

        button {
            margin: 0;
        }
        .container {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
        }
        .title-fin-screen {
            display: none;
        }
        .title-larger-screen {
            display: block;
        }
        .sub-container01 {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        
        .sub-container02 {
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        img {
            width: 70%;
            margin: 0;
        }
        h3 {
            font-size: 20px;
            margin-top: 0;
            text-align: center;
            margin: 1.5rem 0;
        }
        p {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}


@media screen and (min-width: 768px) {
    .container03 {
        margin: auto 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container03 {
        margin: auto 6rem;
    }
}
