@use "reset";
@use "variables" as *;

.container07 {
  position: relative;
  font-family: $fontFamily;
  color: white;
  max-width: 1420px;
  picture {
    img {
      display: block;
    }
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .overlay-text {
      display: flex;
      flex-direction: column;
      width: 65%;
      margin: 0 auto;
      text-align: center;

      h2 {
        margin: 0;
        font-size: 2.2em;
        font-weight: 700;
        padding-bottom: 20px;
      }

      p {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 20px;
      }

      .button {
        border-radius: 5px;
        background-color: #fc851e !important;
        border: none;
        color: #fff !important;
        // transition: .3s all;

        font-family: "Source Sans Pro", sans-serif;
        font-size: 1em;
        font-weight: 600;
        outline: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 120px;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .container07 {
    .overlay {
      .overlay-text {
        width: 65%;

        h2 {
          font-size: 2.4em;
          font-weight: 700;
          padding-bottom: 10px;
        }

        p {
          font-size: 1em;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container07 {
    .overlay {
      .overlay-text {
        width: 65%;

        h2 {
          font-size: 2.4em;
          font-weight: 700;
          padding-bottom: 10px;
        }

        p {
          font-size: 1em;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .container07 {
    .overlay {
      .overlay-text {
        width: 50%;

        h2 {
          font-size: 3em;
          font-weight: 700;
          padding-bottom: 10px;
        }

        p {
          font-size: 1.4em;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
