@use "variables" as *;

body {
  min-height: 100vh;
  background-color: #303030;
  display: flex;
  justify-content: center;

  .wrapper {
    display: grid;
    grid-template: auto auto auto / 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
   width: 100%;
    max-width: 1420px;
    background-color: white;
  }

  header {
    grid-area: header;
  }

  main {
    width: inherit;
    grid-area: main;
    overflow: hidden;
  }

  footer {
    grid-area: footer;
  }
}
