@use "variables" as *;

header {
    // whatever we need about header goes in here 

    
    // it can be removed
    background-color: $header-background-color;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}