// Background colors
$header-height: 3rem;
$header-background-color: lightgreen;
$main-background-color: gold;
$footer-background-color: lightblue;

// Text Colors
$text-color: #333;
$text-color-dark: black;
$text-color-light: white;

// Fonts
$header-font: Tahoma, Verdana, Segoe, sans-serif;
$body-font: Georgia, Times, Times New Roman, serif;