<!-- this is going to be container01 componente -->

<div class="banner-slide">
  <div class="banner"><img src="../images/banner-01-speaker-black.jpg" /></div>
  <div class="banner">
    <img src="../images/banner-02-bluetooth-receiver.jpg" />
  </div>
  <div class="banner"><img src="../images/banner-03-speaker-brown.jpg" /></div>
  <div class="banner"><img src="../images/banner-04-speaker-brown.jpg" /></div>
  <div class="banner"><img src="../images/banner-05-speaker-red.jpg" /></div>
  <div class="banner"><img src="../images/banner-06-speaker-black.jpg" /></div>
  <div class="banner"><img src="../images/banner-07-speaker-white.jpg" /></div>
</div>
