<!-- this is going to be container03 componente -->
<div>
    <p>BEST SELLERS</p>
    <div class="container">
        <div class="sub-container01">
            <h3 class="title-fin-screen">A2+ DESKTOP SPEAKERS</h3>
            <div class="sub-container02">
                <img src="./images/best-seller-01-speaker-red.jpg" alt="">
                <h3 class="title-larger-screen">A2+ DESKTOP SPEAKERS</h3>
                <button></button>
            </div>
        </div>

        <div class="sub-container01">
            <h3 class="title-fin-screen">B1 BLUETOOTH MUSIC RECEIVER</h3>
            <div class="sub-container02">
                <img src="./images/best-seller-02-bluetooth-receiver.jpg" alt="">
                <h3 class="title-larger-screen">B1 BLUETOOTH MUSIC RECEIVER</h3>
                <button></button>
            </div>
        </div>
        
        <div class="sub-container01">
            <h3 class="title-fin-screen">A5+ WIRELLES SPEAKERS</h3>
            <div class="sub-container02">
                <img src="./images/best-seller-03-speaker-black.jpg" alt="">
                <h3 class="title-larger-screen">A5+ WIRELLES SPEAKERS</h3>
                <button></button>
            </div>
        </div>
    </div>
</div>
