<div class="container07">
  <picture>
      <source srcset="./images/bg-our-story-section-phone-square.jpg"
              media="(max-width: 480px)" >
      <source srcset="./images/bg-our-story-section-tablet.jpg"
              media="(max-width: 768px)" >        
      <img
              src="./images/bg-our-story-section.jpg"
              alt="our story" />
  </picture>
  <div class="overlay">
    <div class="overlay-text">
        <h2>OUR STORY</h2>
        <p>Audioengine was founded with a simple goal. <br>
        <i>Build a speaker that sounds great, is easy to set up and use, and that makes people want to listen to music every day.</i>
        </p> 
        <button class="button">LEARN MORE</button>
    </div>
</div>
 
</div>