<!-- this is going to be container03 componente -->
<div>
    <p>SHOP BY ROOM OR DEVICE</p>
    <div class="container04 carousel" id="container04">

        <div class="circle sub-cont01">
            <div class="centered-text">
                <h3>WITH</h3>
                <h3>SONOS</h3>
            </div>
        </div>

        <div class="circle sub-cont02">
            <div class="centered-text">
                <h3>WITH</h3>
                <h3>SIRI</h3>
            </div>
        </div>

        <div class="circle sub-cont03">
            <div class="centered-text">
                <h3>WITH</h3>
                <h3>TURNTABLE</h3>
            </div>
        </div>

        <div class="circle sub-cont04">
            <div class="centered-text">
                <h3>TV</h3>
                <h3>ROOM</h3>
            </div>
        </div>

        <div class="circle sub-cont05">
            <div class="centered-text">
                <h3>KITCHEN</h3>
            </div>
        </div>

        <div class="circle sub-cont06">
            <div class="centered-text">
                <h3>PATIO</h3>
            </div>
        </div>

        <div class="circle sub-cont07">
            <div class="centered-text">
                <h3>OFFICE</h3>
            </div>
        </div>

        <div class="circle sub-cont08">
            <div class="centered-text">
                <h3>BEDROOM</h3>
            </div>
        </div>

        <div class="circle sub-cont09 extra-container">
            <div class="centered-text">
                <h3>WASHROOM</h3>
            </div>
        </div>

    </div>
</div>

<!-- <script src="../scripts/libs/slick-container04.js"></script> -->