<!-- this is going to be container01 componente -->
<div class="container08">
    <h2>IN THE NEWS</h2>
    <!-- Mobile -->
    <div class="news-images">
       

        <img src="../images/in-the-news-slider-01-rolling-stone.jpg" alt="">
        <img src="../images/in-the-news-slider-02-mens-health.jpg" alt="">
        <img src="../images/in-the-news-slider-03-forbes-life.jpg" alt="">
        <img src="../images/in-the-news-slider-04-chicago-tribune.jpg" alt="">
        <img src="../images/in-the-news-slider-05-gear-patrol.jpg" alt="">
        <img src="../images/in-the-news-slider-06-sound-guys.jpg" alt="">
        <img src="../images/in-the-news-slider-07-wired.jpg" alt="">
        <img src="../images/in-the-news-slider-08-cnet.jpg" alt="">
        <img src="../images/in-the-news-slider-09-gq.jpg" alt="">
        <img src="../images/in-the-news-slider-10-pc-magazine.jpg" alt="">
</div>


<!-- Desktop -->

<div class="news-images-desktop">
  

    <div class="sliderimage">
    <div><img src="../images/in-the-news-slider-01-rolling-stone.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-02-mens-health.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-03-forbes-life.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-04-chicago-tribune.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-05-gear-patrol.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-06-sound-guys.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-07-wired.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-08-cnet.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-09-gq.jpg" alt=""></div>
    <div><img src="../images/in-the-news-slider-10-pc-magazine.jpg" alt=""></div>
</div>
</div>

    
</div>