<!-- this is going to be container01 componente -->

<div class="banner-slide">
  <div class="banner">
    <img src="./images/banner-01-speaker-black.jpg" />
    <div class="sub-banner">
      <div class="title">Spotify, Pandora</div>
      <div class="sub-title">All your favourite music apps play instantly</div>
      <button class="button">Shop wireless speakers</button>
    </div>
  </div>
  <div class="banner">
    <img src="./images/banner-02-bluetooth-receiver.jpg" />
    <div class="sub-banner">
      <div class="title">Why is the b1 so impressive</div>
      <div class="sub-title">See for yourself</div>
      <button class="button">Shop bluetooth receivers</button>
    </div>
  </div>
  <div class="banner">
    <img src="./images/banner-03-speaker-brown.jpg" />
    <div class="sub-banner">
      <div class="title">We've got you covered</div>
      <div class="sub-title">
        Free shipping, no sales tax, 30 day trial and easy returns
      </div>
      <button class="button">shop audioengine</button>
    </div>
  </div>
  <div class="banner">
    <img src="./images/banner-04-speaker-brown.jpg" />
    <div class="sub-banner">
      <div class="title">YOUR MUSIC IS OUR PASSION</div>
      <div class="sub-title">
        Shop Audioengine for incredible, true stereo sound that inspires you to
        listen all year long.
      </div>
      <button class="button">Shop wireless speakers</button>
    </div>
  </div>
  <div class="banner">
    <img src="./images/banner-05-speaker-red.jpg" />
    <div class="sub-banner">
      <div class="title">Spotify, Pandora</div>
      <div class="sub-title">All your favourite music apps play instantly</div>
      <button class="button">Shop wireless speakers</button>
    </div>
  </div>
  <div class="banner">
    <img src="./images/banner-06-speaker-black.jpg" />
    <div class="sub-banner">
      <div class="title">Spotify, Pandora</div>
      <div class="sub-title">All your favourite music apps play instantly</div>
      <button class="button">Shop wireless speakers</button>
    </div>
  </div>
  <div class="banner">
    <img src="./images/banner-07-speaker-white.jpg" />
    <div class="sub-banner">
      <div class="title">Set up in seconds</div>
      <div class="sub-title">
        No network setup, passwords to enter, or buttons to push.
      </div>
      <button class="button">Shop audioengine</button>
    </div>
  </div>
</div>