<!-- this is going to be container01 componente -->
<div>
    <picture>
        <source srcset="../images/bg-all-new-section-phone-square.jpg"
                media="(max-width: 480px)" >
        <img
                src="../images/bg-all-new-section.jpg"
                alt="A5+ Wireless Speakers" />
    </picture>
    <div class="overlay">
        <div class="overlay-text">
            <h2>ALL NEW</h2>
            <p>The A5+ Wireless Speakers</p>
            <button class="learn-more-button">LEARN MORE</button>
        </div>
    </div>
</div>