<!-- this is going to be container01 componente -->
<!-- Working here because container09 does not exist -->
<!-- Make sure to move html, scss to right container -->
<div class="video" id="video">
  <h1 class="title">This is audio engine</h1>
  <button class="play" id="play"><i class="fa-solid fa-play"></i></button>
  <img src="../images/bg-this-is-audio-engine-section.jpg" />
  <div class="popup" id="popup">
    <div class="content" id="content">
      <button class="close-btn" id="close-btn">Close</button>
      <div class="popup-video">
        <video controls>
          <source src="../media/this-is-audioengine.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>