<div class="footer-header">
    <div class="goto-top">
    <i class="fa-solid fa-arrow-up"></i>
    <p><a href="#top">TOP</a></p>
    </div>
    <div class="footer-icons">
    <div class="social-media">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-pinterest"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="footer-email">
        <i class="fa-regular fa-envelope"></i>
        <p>EMAIL SIGN UP</p>
    </div>
    </div>
</div>
<div class="footer-body">
    <a href="#">Speakers</a>
    <a href="#">Components</a>
    <a href="#">Refurbished</a>
    <a href="#">Find A Store</a>
    <a href="#">Support</a>
    <a href="#">Explore</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Press</a>
    <a href="#">Warranty</a>
    <a href="#">Military</a>
    <a href="#">Apps</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Legal</a>
    <a href="#">News</a>
</div>
