<!-- this is going to be container01 componente -->
<div class="header" id="header">
  <div class="logo">
    <a href="#"><img src="./images/logo-audioengine.png" /></a>
  </div>

  <div class="menu-btn" id="menu-btn">
    <div class="bar"></div>
  </div>

  <nav class="menu" id="menu">
    <ul>
      <li><a href="#">speakers</a></li>
      <li><a href="#">components</a></li>
      <li><a href="#">deals</a></li>
      <li><a href="#">explore</a></li>
      <li><a href="#">support</a></li>
      <li>
        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
    </ul>
  </nav>
</div>
